.imgGallery {
  width: 400em;
  height: 500em;
  margin: auto;
  position: relative;
}

.imgGallery .imgs {
  width: 200em;
  position: absolute;
  height: 180em;
  margin: auto;
}

.imgGallery .imgs img {
  width: 100%;
  object-fit: cover;
  border: 10px solid var(--wht);
}

.imgGallery .imgs.imgOne {
  width: 300em;
  top: 350em;
  left: 120em;
  z-index: 1;
}

.imgGallery .imgs.imgSec {
  top: 550em;
  left: 180em;
  z-index: 1;
}

.imgGallery .imgs.imgThr {
  top: 400em;
  width: 250em;
  left: 350em;
}
