.imgGallery{
  width:400em;
  height:500em;
  margin:auto;
  position: relative;
  .imgs{
    width:200em;
    position: absolute;
    height:180em;
    margin:auto;
    ;
    img{
      width:100%;
      object-fit: cover;
      border:10px solid var(--wht);
    }
  }
  .imgs.imgOne{
    width:300em;
    top:350em;
    left:80em;
    z-index: 1;
  }
  .imgs.imgSec{
    top:550em;
    left:180em;
    z-index: 1;
  }
  .imgs.imgThr{
    top:400em;
    width:250em;
    left:300em;
  }
}